#background-black{
    color: white;
    background-color: black;
    font-family: serif;
}

.skyblue-text{
    color: skyblue;
}

.white-text{
    background-color: purple;
    color: white;
    text-align: center;
    font-family: Georgia;
}

.underline-text{
    background-color: dodgerblue;
    text-decoration: underline;
    text-align: right;
    font-family: fantasy;
}

